package.json
node_modules
yarn-error.log
docs
patches
static/images/favicon*
static/images/background.jpg
resources
content/**/front/
content/**/title/
content/**/cover/
content/**/img*/
content/**/page*/
content/**/end-*/
content/**/front-*/
content/**/front*/
content/**/back/
content/**/back*/
content/**/end/a
content/future/3d/**/*-right.*
content/future/3d/**/*-left.*
content/future/3d/**/*.gif
content/future/3d/**/*.jps
content/**/img*-*.png
content/**/page*-*.png
content/**/img*-*.json
!content/**/img*-map.json
content/**/page*-*.json
!content/**/page*-map.json
