@import "normalize";
@import "mirador";
@import "ol-iiif";
@import "iframe-consent";

/* source-code-pro-regular - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v13-latin-regular.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-regular.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-regular.ttf') format('truetype');
}
/* source-code-pro-italic - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/source-code-pro-v13-latin-italic.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-italic.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-italic.ttf') format('truetype');
}
/* source-code-pro-700 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v13-latin-700.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-700.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-700.ttf') format('truetype');
}
/* source-code-pro-700italic - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/source-code-pro-v13-latin-700italic.woff2') format('woff2'),
       url('../fonts/source-code-pro-v13-latin-700italic.woff') format('woff'),
       url('../fonts/source-code-pro-v13-latin-700italic.ttf') format('truetype');
}

body {
    min-height: 100vh;
    position: relative;

    &.about .container .article .single .body {
        background-position: 95% 4em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }
}

@media (max-width: 52em) {
    h1.site-title {
        font-size: 3em;
        overflow: hidden;
    }

    h1.headline {
        margin-left: 1rem;
    }

    article.list-item,
    article.single {
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }

    .container {
        width: 100%;
    }

    article.single section.body, .article-list article.list-item {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header {
        padding-left: .4rem;
        padding-right: .4rem;
    }

}
.homepage {
    p code {
        padding: 0.2em 0.5em;
        border-radius: 3px;
        background: #747369;
        background: var(--base03);
        color: #f2f0ec;
        color: var(--base07);
    }

    pre {
        margin-top: 0;
        margin-bottom: 1rem;
        overflow-x: auto;
        border-radius: 1rem;
        padding: 2rem;
    }
}

article.single {

    pre {
        overflow-x: auto;
    }
}

.sections,
.site-title {
    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        text-decoration: none;
        color: var(--base0c);
    }
}
/*
pre {
    border-radius: 1rem;
}
*/
.error-msg {
    margin-top: 5em;
    margin-bottom: 5em;
}

.container .article .single,
.tags {
    padding-bottom: calc(2rem + .9em + 2rem);
}

footer {
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

header {
    margin-top: 0 !important;
}

article,
section.body {
    border-radius: 2em;
}
/* Reset badly written theme CSS */
article.single {
    figure {
        background-color: unset;
        margin-left: unset;
        margin-right: unset;
        width: unset;
    }
    * {
        max-width: unset;
    }
    section header,
    section section {
        padding: unset;
        margin: unset;
    }
}

.homepage .tag {
    margin-right: 0.5rem;
}

.sections h1.headline {
    font-size: 3em;
    color: var(--base0a);
}

.iiif .viewer {
    width: 100% !important;
}

.dreiD-images {
    width: 100%;
    margin-top: 1em;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .radio {
            display: none;
        }

        .panels {
            background: #f1f0ec;
            min-height: 200px;
            width: 100%;
            border-radius: 1em;
            padding: 10px;
            border: black 1px solid;
            transition: width .6s, height .6s;

            .panel {
                display: none;

                img {
                    width: 100%;
                }

                .description {
                    margin: 1.4rem;
                }
            }
        }

        .tabs {
            .tab {
                cursor: pointer;
                padding: 10px 20px;
                margin: 0 2px;
                background: #2d2d2d;
                display: inline-block;
                color: #fff;
                border-radius: 6px 6px 0 0;
            }
        }
        /* Inspired by https://codepen.io/Wendy-Ho/pen/MWWBvmd */
        #dreiD-ana:checked ~ .panels #dreiD-ana-panel,
        #dreiD-gif:checked ~ .panels #dreiD-gif-panel,
        #dreiD-jps:checked ~ .panels #dreiD-jps-panel,
        #dreiD-mpo:checked ~ .panels #dreiD-mpo-panel,
        #dreiD-single:checked ~ .panels #dreiD-single-panel {
            display: block;
        }

        #dreiD-ana:checked ~ .tabs #dreiD-ana-tab,
        #dreiD-gif:checked ~ .tabs #dreiD-gif-tab,
        #dreiD-jps:checked ~ .tabs #dreiD-jps-tab,
        #dreiD-mpo:checked ~ .tabs #dreiD-mpo-tab,
        #dreiD-single:checked ~ .tabs #dreiD-single-tab {
            background: #ffcc66;
            color: #000;
            border-top: 3px solid #393939;
        }
    }
}

.iframe-wrapper {

    .opt-in-overlay {
        border-radius: 1rem;

        .opt-in-header {
            color: var(--base0c);
        }
        .opt-in-text {
            color: var(--base03);

        }
        .opt-in-confirm {

        }

    }

}

.section-description {
    .description {
        margin-left: -4rem;
        margin-right: -4rem;
        font-style: italic;
        margin-bottom: 2rem;
    }
    .content {
        font-weight: bold;
    }
}
