@import "normalize";
@import "mirador";
@import "ol-iiif";
@import "iframe-consent";
@import "icons";
@import "fonts/source-code-pro";
/* Menu */
$font-color-body: var(--base00);
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(--base00);
@import "menu";

body {
    min-height: 100vh;
    position: relative;

    &.about .container .article .single .body {
        background-position: 95% 4em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }
}

.homepage {
    p code {
        padding: 0.2em 0.5em;
        border-radius: 3px;
        background: #747369;
        background: var(--base03);
        color: #f2f0ec;
        color: var(--base07);
    }

    pre {
        margin-top: 0;
        margin-bottom: 1rem;
        overflow-x: auto;
        border-radius: 1rem;
        padding: 2rem;
    }

    .tag {
        margin-right: 0.5rem;
    }
}

.right {
    .menu-seperator {
        display: inline-block;
    }

    .lang-switcher {
        display: inline-block;

        &::before {
            content: '$ ';
        }
    }
}

.right,
.sections,
.site-title {
    a,
    a:active,
    a:focus,
    a:hover,
    a:visited {
        text-decoration: none;
        color: var(--base0c);
    }
}

.error-msg {
    margin-top: 5em;
    margin-bottom: 5em;
}

.container .article .single,
.tags {
    padding-bottom: 3rem;
}

header {
    margin-top: 0 !important;
    div.clearfix {
        overflow: hidden;
    }
}

article,
section.body {
    border-radius: 2em;
}
/* Reset badly written theme CSS */
article.single {
    figure {
        background-color: unset;
        margin-left: unset;
        margin-right: unset;
        width: unset;
    }

    section header,
    section section {
        padding: unset;
        margin: unset;
    }

    pre {
        overflow-x: auto;
    }

    .under-construction {
        max-width: unset;
    }
}

.sections h1.headline {
    font-size: 3em;
    color: var(--base0a);
}

.iiif .viewer {
    width: 100% !important;
}

.dreiD-images {
    width: 100%;
    margin-top: 1em;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .radio {
            display: none;
        }

        .panels {
            background: #f1f0ec;
            min-height: 200px;
            width: 100%;
            border-radius: 1em;
            padding: 10px;
            border: black 1px solid;
            transition: width 0.6s, height 0.6s;

            .panel {
                display: none;

                img {
                    width: 100%;
                }

                .description {
                    margin: 1.4rem;
                }
            }
        }

        .tabs {
            .tab {
                cursor: pointer;
                padding: 10px 20px;
                margin: 0 2px;
                background: #2d2d2d;
                display: inline-block;
                color: #fff;
                border-radius: 6px 6px 0 0;
            }
        }
        /* Inspired by https://codepen.io/Wendy-Ho/pen/MWWBvmd */
        #dreiD-ana:checked ~ .panels #dreiD-ana-panel,
        #dreiD-gif:checked ~ .panels #dreiD-gif-panel,
        #dreiD-jps:checked ~ .panels #dreiD-jps-panel,
        #dreiD-mpo:checked ~ .panels #dreiD-mpo-panel,
        #dreiD-single:checked ~ .panels #dreiD-single-panel {
            display: block;
        }

        #dreiD-ana:checked ~ .tabs #dreiD-ana-tab,
        #dreiD-gif:checked ~ .tabs #dreiD-gif-tab,
        #dreiD-jps:checked ~ .tabs #dreiD-jps-tab,
        #dreiD-mpo:checked ~ .tabs #dreiD-mpo-tab,
        #dreiD-single:checked ~ .tabs #dreiD-single-tab {
            background: #fc6;
            color: #000;
            border-top: 3px solid #393939;
        }
    }
}

.iframe-wrapper {
    .opt-in-overlay {
        border-radius: 1rem;

        .opt-in-header {
            color: var(--base0c);
        }

        .opt-in-text {
            color: var(--base03);
        }

        .opt-in-confirm {}
    }
}

.section-description {
    .description {
        margin-left: -4rem;
        margin-right: -4rem;
        font-style: italic;
        margin-bottom: 2rem;
        font-size: large;
    }

    .content {
        font-weight: bold;
    }
}

.download-link {
    margin: auto;
    width: fit-content;

    .link {
        text-decoration: none;

        &::after {
            display: inline-block;
            width: 1em;
            padding-left: 0.5rem;
            content: url($link-light);
        }
    }
}

.under-construction {
    /* margin: 2em; */
    opacity: 0.6;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: red;
    margin-top: -4rem;
    margin-left: -8rem;
    margin-right: -8rem;
    font-weight: bolder;
    font-size: larger;
    padding: 1.4rem;
    text-align: center;
    /* See https://stripesgenerator.com/ */
    background-image: linear-gradient(135deg, #ff0 25%, #000 25%, #000 50%, #ff0 50%, #ff0 75%, #000 75%, #000 100%);
    background-size: 56.57px 56.57px;
}

.under-construction-separator {
    border: 0 solid transparent !important;
    margin-bottom: 1.4rem;
}

.lang-switcher.no-translation-available {
    display: none;
}

code {
    @media (max-width: 56em) {
        word-break: break-all;
    }
}

body div.container {
    margin-bottom: 2rem;
}

footer {
    margin-bottom: 0 !important;
    position: absolute;
    /* bottom: 0; */
    width: 100%;

    .footer-container {
        p {
            margin: 0;
        }

        p.projektemacher {
            img {
                vertical-align: text-bottom;
            }
        }
    }
}
@media (max-width: 56.25em) {

    .homepage {
        h1 {
            &.site-title {
                font-size: 10vw;
                overflow: hidden;
            }

            &.headline {
                margin-left: 1rem;
            }
        }
    }
    article.list-item,
    article.single {
        margin-left: 1.4rem;
        margin-right: 1.4rem;
    }

    .container {
        width: 100%;
        overflow: hidden;
    }

    .article-list article.list-item,
    article.single section.body {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        padding-bottom: unset;
        margin-bottom: unset;

        .path {
            padding-left: 0.5rem;
        }

        span.caret {
            display: none;
        }
    }
}

.error404 .container {
    margin-top: 3.5em;
    background-color: var(--base07);
    color: var(--base00);
    padding: 4rem 8rem 3rem;
    border-radius: 2em;
}

.error404 h1.site-title {
    text-align: center;
    font-size: 5em;
    color: var(--base0c);
}

#menu-toggle {
    display: none;
    @media (max-width : 56.25em) {
        &:checked + label + ul {
            visibility: visible;
            opacity: 1;
            max-height: 100rem;
            display: block;
        }
    }
}

.menu-button {
    @media (max-width : 56.25em) {
        display: inline-block;
    }

    .menu-icon {
        content: url($burger-menu-secondary);
        height: 2em;
        width: 2em;
    }
}

.top-menu {
    display: inline-block;
    float: right;
    width: max-content;
    position: initial;

    .navigation-list {
        float: right;
        position: unset;
        height: unset;
        line-height: unset;
        padding-right: unset;
        transform: unset;
        font-size: unset;
        @media (max-width : 56.25em) {
            visibility: hidden;
            display: none;
            position: absolute;
            top: 3.6em;
            right: 0;
            left: 0;
            z-index: 10;
            visibility: hidden;
            opacity: 0;
            padding: 0;
            max-height: 0;
            width: auto;
            border-top: solid 2px $color-body-text;
            border-bottom: solid 2px $color-body-text;
            transition: opacity 0.25s, max-height 0.15s linear;
            height: auto;
            background-color: var(--base07);
            padding: 1em;
        }

        .navigation-item {
            padding-left: unset;

            a {
                color: var(--base0d);
                text-decoration: underline;
                @media (max-width : 56.25em) {
                        color: var(--base0d);
                        text-decoration: none;
                }
            }

            &.lang {
                font-weight: 700;

                &:before {
                    content: '$ ';
                    font-weight: normal;

                    @media (max-width : 56.25em) {
                        content: '';
                    }
                }
            }
        }
    }
}
