{{- $context := path.Dir .File.Path -}}
{{- $entry := . -}}
{{ $name := "front" }}

{{/* Extract the preview and make it JPEG XL compatible */}}

{{- $fit := "180x" -}}
{{- $previewImg := "" -}}
{{- $images := newScratch -}}

{{- range .Params.resources -}}
    {{- if eq .name $name -}}
        {{- $images.Set "previewLoc" (path.Join $context .src) -}}
        {{- $images.Set "preview" (($entry.Resources.ByType "image").GetMatch .name) -}}
    {{ end }}
{{ end }}

{{- $imgLocation := $images.Get "previewLoc" -}}
{{- $previewImg := $images.Get "preview" -}}
{{- if eq $previewImg nil -}}
    {{- warnf "Can't find image %s for post %s" $imgLocation $context -}}
{{- end -}}
{{/* Check for JXL */}}
{{- if eq (string $previewImg.MediaType) "image/jxl" -}}
  {{- if not $name -}}
    {{- warnf "JXL Reference in %s, but no 'name' set, using default" .File.Path -}}
  {{- end -}}
  {{- $previewImg = partial "iiif/preview.html" (dict "context" . "name" $name) -}}
{{- end -}}
{{- $previewImg = $previewImg.Resize $fit -}}

{{ $content := .Summary }}
<div class="geojsonPopup">
    <div class="title">
        {{ .Title }}
    </div>
    <div class="content">
        <img class="preview" src="{{ $previewImg.RelPermalink }}">
        {{ $content | markdownify }}
    </div>
    <div class="link">
        <a href="{{ .RelPermalink }}">{{ i18n "readmore" }}</a>
    </div>
</div>
