{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}

{{- $jps := path.Join $context "front.jps" -}}
{{- $gif := path.Join $context "front.gif" -}}
{{- $ana := path.Join $context "front-anaglyph.jpg" -}}
{{- $mpo := path.Join $context "front.mpo" -}}
{{- $singleL := path.Join $context "front-left.jpg" -}}
{{- $singleR := path.Join $context "front-right.jpg" -}}

{{/* See https://codepen.io/Wendy-Ho/pen/MWWBvmd */}}

<div class="dreiD-images">
    <div class="wrapper">
        {{ if (fileExists $jps) -}}
            <input class="radio" id="dreiD-jps" name="3d" type="radio" checked>
         {{- end }}
         {{ if (fileExists $gif) -}}
             <input class="radio" id="dreiD-gif" name="3d" type="radio">
         {{- end }}
         {{ if (fileExists $ana) -}}
             <input class="radio" id="dreiD-ana" name="3d" type="radio">
         {{- end }}
         {{ if (fileExists $mpo) -}}
             <input class="radio" id="dreiD-mpo" name="3d" type="radio">
         {{- end }}
         {{ if and (fileExists $singleL) (fileExists $singleR) -}}
            <input class="radio" id="dreiD-single" name="3d" type="radio">
         {{- end -}}
        <div class="tabs">
            {{ if (fileExists $jps) -}}
                <label class="tab" id="dreiD-jps-tab" for="dreiD-jps">JPS</label>
            {{- end }}
            {{ if (fileExists $gif) -}}
                <label class="tab" id="dreiD-gif-tab" for="dreiD-gif">GIF</label>
            {{- end }}
            {{ if (fileExists $ana) -}}
                <label class="tab" id="dreiD-ana-tab" for="dreiD-ana">Anaglyph (Für 3D Brillen)</label>
            {{- end }}
            {{ if (fileExists $mpo) -}}
                <label class="tab" id="dreiD-mpo-tab" for="dreiD-mpo">Multi Picture Object (MPO)</label>
            {{- end }}
            {{ if and (fileExists $singleL) (fileExists $singleR) -}}
                <label class="tab" id="dreiD-single-tab" for="dreiD-single">Einzelbilder</label>
            {{- end }}
        </div>

        <div class="panels">
            {{ if (fileExists $jps) -}}
                <div class="panel" id="dreiD-jps-panel">
                    <img class="jps" src="{{ $jps | relURL }}" />
                    <div class="description">
                        Beide Bilder im JPS (JPEG Stereoscopic) Format (vertauscht - "cross-eyed"). Kann mit <a href="http://www.sview.ru/en/" target="_blank">sView</a> betrachtet werden. <a class="newTab" href="{{ $jps | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                </div>
            {{- end }}
            {{ if (fileExists $gif) -}}
                <div class="panel" id="dreiD-gif-panel">
                    <img class="gif" src="{{ $gif | relURL }}" />
                    <div class="description">
                        Beide Bilder als animiertes Gif mit schnellem Wechsel. <a class="newTab" href="{{ $gif | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                </div>
            {{- end }}
            {{ if (fileExists $ana) -}}
                <div class="panel" id="dreiD-ana-panel">
                    <img class="ana" src="{{ $ana | relURL }}" />
                    <div class="description">
                        Beide Bilder als <a href="https://de.wikipedia.org/wiki/Anaglyph_3D" target="_blank">Anaglyphe</a>. <a class="newTab" href="{{ $ana | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                </div>
            {{- end }}
            {{ if (fileExists $mpo) -}}
                <div class="panel" id="dreiD-mpo-panel">
                    <img class="mpo" src="{{ $mpo | relURL }}" />
                    <div class="description">
                        Beide Bilder im <a href="https://de.wikipedia.org/wiki/Multi_Picture_Object" target="_blank">MPO Format</a>. <a class="newTab" href="{{ $mpo | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                </div>
            {{- end }}
            {{ if and (fileExists $singleL) (fileExists $singleR) -}}
                <div class="panel" id="dreiD-single-panel">
                    <img class="singleL" src="{{ $singleL | relURL }}" />
                    <div class="description">
                        Das linke Bild. <a class="newTab" href="{{ $singleL | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                    <img class="singleR" src="{{ $singleR | relURL }}" />
                    <div class="description">
                        Das rechte Bild. <a class="newTab" href="{{ $singleR | relURL }}" target="_blank">In voller Auflösung in einem neuen Tab öffnen</a>.
                    </div>
                </div>
            {{- end }}
        </div>
    </div>
</div>
{{/*
[JPS Datei](./front.jps) für [sView](http://www.sview.ru/en/).
*/}}
