<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">

{{- partial "html/head/meta.html" . -}}
{{- partial "html/head/style.html" (dict "context" . "css" "css/style.css") -}}
{{- partial "html/head/script.html" (dict "js" (partial "html/head/iiif-js.html" .)) -}}
{{- partial "html/head/page-scripts.html" . -}}

{{- if eq .Params.layout "html-body" -}}
    {{- partial "html/head/style/include-css.html" . -}}
{{- end -}}

<title>{{ with .Title }}{{.}} - {{ end }}{{ .Site.Title }}</title>
</head>
{{- $class := "" -}}
{{- if or (hasPrefix .Page.File.Path "about") (hasPrefix .Page.File.Path "/about") -}}
    {{- $class = "about" -}}
{{- end -}}
{{- if .Params.metaPage -}}
    {{- $class = printf "%s %s" $class "meta" -}}
{{- end -}}
<body class="{{ $class }}">

<header>
  <div class="container clearfix">
    <a class="path" href="{{ .Site.BaseURL }}">[{{ .Site.Title }}]</a>
    <span class="caret"># _</span>
    {{- partial "menu.html" . -}}
  </div>
</header>
